#dog{
    width: 400px;
    height: 300px;
}
#cat{
    width: 400px;
    height: 300px;
}
#tiger{
    width: 400px;
    height: 300px;
}
#horse{
    width: 400px;
    height: 300px;
}
#chicken{
    width: 400px;
    height: 300px;
}